@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
@media (max-width: 565px) {
  .section-heading {
    font-size: 40px !important;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.link{
  text-decoration: none;
  color: #007bff;
  transition: all 0.3s;
}
.link:hover{
  text-decoration: none;
  color: #111;
  transition: all 0.3s;
}
.social-links li {
  list-style: none;
  display: inline-block;
}
.social-links li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}
.social-links li a ion-icon {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.social-links li a:hover {
  color: #111;
  transition: all 0.3s;
}

.wrap {
  padding: 0;
}
@media (max-width: 767.98px) {
  .wrap {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .wrap .about-desc {
    position: relative;
  }
}
.wrap .about-desc .bold-text {
  position: absolute;
  top: -80px;
  left: 10px;
  right: 0;
  bottom: 0;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .wrap .about-desc .bold-text {
    font-size: 6em;
  }
}
@media (max-width: 991px) {
  .wrap .about-desc .bold-text {
    display: none;
  }
}

.progress-style {
  width: 400px;
}
@media (max-width: 412px) {
  .progress-style {
    width: 300px;
  }
}
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  line-height: 1;
  font-size: 20px;
  color: #111;
}

.interests .icon-box:hover {
  background: rgba(122, 122, 122, 0.12);
}

.bg-text {
  position: absolute;
  margin-bottom: -1em;
  top: -80px;
  left: 10px;
  right: 0;
  bottom: 0;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .bg-text {
    font-size: 6em;
  }
}
@media (max-width: 991.98px) {
  .bg-text {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .bg-text {
    display: none;
  }
}
@media (min-width: 768px) {
  .bg-text {
    position: relative;
  }
}
.profile-text {
  font-weight: 300;
}
@media (max-width: 768px) {
  .profile-text {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px; } }

.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px; }
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500; }
    .blog-entry .text .heading a {
      color: #111; }
      .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
        color: #2f89fc; }

.blog-entry .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px; }
  .blog-entry .meta > div a {
    font-size: 15px;
    color: #8c8c8c; }
